@import "tailwindcss";

:root {
  --background: #f7f6f4;
}

@theme inline {
  --color-background: var(--background);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
  }
}

body {
  background: var(--background);
}
